! normal setting
!URxvt.termName:rxvt-256color
!URxvt.termName:rxvt-unicode
URxvt.termName:xterm
URxvt.cursorBlink:false
URxvt.saveLines:10240

! Display setting
Xft.dpi:96
Xft.rgba:rgb
Xft.hinting:           true
! If BCI enabled, there is no need to use autohint
Xft.autohint:          false
Xft.hintstyle:         hintmedium
Xft.antialias:         true
Xft.rh_prefer_bitmaps: true
Xft.lcdfilter:         lcddefault6

URxvt.geometry:80X24
URxvt.visualBell:false
URxvt.inheritPixmap:true

! false transparency
URxvt.transparent:true
URxvt.shading:10

! true transparency
!URxvt.depth:32
!URxvt.background:rgba:1111/1111/1111/dddd

! scroll setting
URxvt.scrollBar_right:true
URxvt.scrollTtyKeypress:true
URxvt.scrollTtyOutput::false
URxvt.scrollWithBuffer:false
URxvt.scrollstyle:plain

! input method and font setting
URxvt.preeditType:Root
URxvt.inputMethod:fcitx
!URxvt.imFont:xft:YaHei Consolas Hybrid:size=12
URxvt.imLocale:zh_CN.UTF-8
URxvt.font:xft:YaHei Consolas Hybrid:style=Regular:size=12
!URxvt.font:xft:Terminus:size=14
!URxvt.boldFont:xft:YaHei Consolas Hybrid:size=12:bold
!URxvt.italicFont: xft:YaHei Consolas Hybrid:size=12:Italic
!URxvt.boldItalicFont: size=12:Bold Italic
! The First Line define the base size of the font, for example 9x15bold, the next font use pixelsize, if we use size ,we can ignore the first base size defination, like we did above.
!URxvt.font:-*-fixed-bold-r-*--18-*-*-*-*-*-iso10646-1,\
! 		xft:Inconsolata:size=12:bold:antialias=false,\
! 		-*-terminus-*-*-*-*-12-*-*-*-*-*-*-* :pixelsize=12:antialias=false,\
!		xft:WenQuanYi Bitmap Song :pixelsize=14:antialias=false
URxvt.multichar_encoding:UTF-8
!URxvt.letterSpace:-1

! color setting
URxvt.cursorColor:blue
URxvt.foreground:green
URxvt.background:black
URxvt.tintColor:lightgray
URxvt.urgentOnBell: true

URxvt.colorBD:yellow
URxvt.colorIT:magenta
URxvt.colorUL:green
URxvt.underlineColor:cyan

URxvt.color0:black
URxvt.color1:red3
URxvt.color2:springgreen
URxvt.color3:wheat3
URxvt.color4:navy
URxvt.color5:magenta4
URxvt.color6:steelblue1
URxvt.color7:gray85
URxvt.color8:gray10
URxvt.color9:SkyBlue3
URxvt.color10:chartreuse3
URxvt.color11:lightgoldenrod2
URxvt.color12:SkyBlue1
URxvt.color13:pink1
URxvt.color14:lightblue1
URxvt.color15:#dbeff9

! Tab set
!URxvt.perl-ext-common: default,tabbed
!URxvt.tabbed.tab-fg: 12
!URxvt.tabbed.tab-bg: 0
!URxvt.tabbed.tabbar-fg: 4

! UrlLauncher
URxvt.urlLauncher:      /usr/bin/chromium-browser
URxvt.matcher.button:   1

! Enable the tab and matcher extention
URxvt.perl-lib:/usr/lib/urxvt/perl
URxvt.perl-ext-common: default,tabbed,matcher
